<div class="root-box">
<h1><%= link_to 'Companies', companies_path %></h1>
<div class="company-box">
<h1><%= link_to @comment.task.project.company.name, @comment.task.project.company %></h1>
<div class="project-box">
<h1><%= link_to @comment.task.project.name, @comment.task.project %></h1>
<div class="task-box">
<h1><%= link_to @comment.task.name, @comment.task %></h1>
</div>


<div class="comment-box">
<h1>Editing comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>
	<%= f.text_field :comment %>
  <p>
    <%= f.submit 'Update' %>
    <% if !@comment.user.nil? %>
		<%= @comment.user.username %>
	<% end %>
  </p>
<% end %>
</div>
</div>
</div>
</div>
</div>
