<div class="root-box">
<h1><%= link_to 'Companies', companies_path %></h1>

<div class="company-box">
<h1><%= link_to @task.project.company.name, @task.project.company %></h1>
<div class="project-box">
<h1><%= link_to @task.project.name, @task.project %></h1>

<div class="task-box">
<h1><%= h @task.name %></h1>
<% if !@task.user.nil? %>
	<div class="username"><%= h @task.user.username %></div>
<% end %>
<%= link_to 'Edit', edit_task_path(@task), :class => 'edit' %>
<% if !@task.comments.empty? %>

	<h2>Comments</h2>
		<% @task.comments.each do |p| %>
		<% if !p.comment.nil? %>
			<div class="comment-box">
				<%= link_to p.comment, :controller => 'comments',:action => "edit", :id => p, :class => 'edit'  %>
				<%= link_to 'x', p, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
			</div>
		<% end %>
	<% end %>
	
<% end %>

<div class="comment-box new-box">
<% form_for @task do |c| %>
	<% c.fields_for :comments,  @task.comments.last do |p| %>
			<%= p.text_field :comment %>
	<% end %>
	
	<%= submit_tag '+' %>
<% end %>
</div>

</div>
</div>
</div>
</div>
</div>
