<div class="breadcrumbs">
	<%= link_to 'Companies', companies_path %> >
<div>

<div class="company-box">
	<%= link_to @task.project.company.name, @task.project.company %> >
<div class="project-box">
	<%= link_to @task.project.name, @task.project %>

<div class="task-box">
<h1><%= h @task.name %></h1>
<%= link_to 'Edit', edit_task_path(@task) %>
<% if !@task.comments.empty? %>
	<h2>Comments</h2>
	<div class="comment-index">
		<% @task.comments.each do |p| %>
		<% if !p.comment.nil? %>
			<div class="comment-box">
				<%= link_to p.comment, :controller => 'comments',:action => "edit", :id => p  %>
				<%= link_to 'x', p, :confirm => 'Are you sure?', :method => :delete %>
			</div>
		<% end %>
	<% end %>
<% end %>

<div class="comment-box new-box">
<% form_for @task do |c| %>
	<% c.fields_for :comments,  @task.comments.last do |p| %>
			<%= p.text_field :comment %>
	<% end %>
	
	<%= submit_tag '+' %>
<% end %>
</div>

</div>
</div>
</div>
</div>
