<div class="root-box">

<h1><%= link_to 'Companies', companies_path %></h1>

<div class="company-box">
<h1><%= link_to @project.company.name, @project.company %></h1>

<div class="project-box">
<h1><%= h @project.name %></h1>
<% if !@project.user.nil? %>
	<h2><%= h @project.user.username %></h2>
<% end %>
<%= link_to 'Edit', edit_project_path(@project), :class => 'edit' %>
<div class="tasks-index">
<h2>Tasks</h2>
	<% @project.tasks.each do |p| %>
	<% if !p.name.nil? %>
	
		<div class="task-box">
			<%= link_to p.name, p %>
			<%= link_to 'x', p, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>

			<% if !p.comments.empty? %>
				
				<h3>Comments</h3>
				<% p.comments.each do |c| %>
						<div class="comment-box">
							<%= link_to c.comment, :controller => 'comments',:action => "edit", :id => c  %>
							<%= link_to 'x', c, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
						</div>
				<% end %>
				
			<% end %>
		</div>
		
	<% end %>
<% end %>

<div class="task-box new-box">
<% form_for @project do |c| %>
	<% c.fields_for :tasks,  @project.tasks.last do |p| %>
			<%= p.text_field :name %>
	<% end %>
	
	<%= submit_tag '+' %>
<% end %>
</div>

</div>
</div>
</div>
