
<div class="root-box">
<h1><%= link_to 'Companies', companies_path %></h1>

<div class="company-box">
	<h1><%= h @company.name %></h1>
	<% if !@company.user.nil? %>
		<div class="username"><%= h @company.user.username %></div>
	<% end %>
	<%= link_to 'Edit', edit_company_path(@company), :class => 'edit' %>
	
	<h2>Projects</h2>
		<% @company.projects.each do |p| %>
		<% if !p.name.nil? %>
			<div class="project-box">
			<h3><%= link_to p.name, p %></h3>
			<%= link_to 'x', p, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
			
			<% if !p.tasks.empty? %>
				<h4>Tasks:</h4>
				<% p.tasks.each do |t| %>
					<div class="task-box">
						<%= link_to t.name, t  %>
						<%= link_to 'x', t, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
					</div>
				<% end %>
			<% end %>
			
			</div>
		<% end %>
	<% end %>
	
	<div class="project-box new-box">
	<% form_for @company do |c| %>
		<% c.fields_for :projects,  @company.projects.last do |p| %>
				<%= p.text_field :name %>
		<% end %>
		
		<%= submit_tag '+' %>
	<% end %>
	</div>
	
	</div>
</div>
</div>
